h1 {
    color: #5E6060;
    font-family: monospace;
}

h2 {
    color: #767979;
    font-family: monospace;
}

h3 {
    color: #ABACAC;
    font-family: monospace;
}

h4 {
    color: #CED2D2;
    font-family: monospace;
}

p {
    font-family: monospace;
}


